.contact {
    .text-zone {
   
        margin-top: 45px;
        
        transform: translateY(30%);
        margin-left: 380px;
        width: 50%;
         
     .contact-from {
         width: 100%;
         margin-top: 20px;
        // padding-bottom: 40px;
        
         ul {
             padding: 0;
             margin: 0;
             li {
                 padding: 0;
                 margin: 0;
                 list-style: none;
                 margin-bottom: 10px;
                 display: block;
                 overflow: hidden;
                 position: relative;
                 opacity: 0;
                 animation: fadeInUp 2s 2s;
                 animation-fill-mode: forwards;
                 clear: both;
             }
             li.half {
                 width: 49%;
                 margin-left: 2%;
                 float : left;
                 clear: none;
                 &:first-child {
                     margin-left: 0;
                 }
             }
         }
         input[type='text'] , 
         input[type='email'] {
             width: 100%;
             border: 0;
             background: #115173;
             height: 50px;
             font-size: 16px;
             color: #fff ;
             padding: 0 20px;
             box-sizing: border-box; 
     
         }
         textarea {
             width: 100%;
             border: 0;
             background-color: #115173;
             height: 50px;
             font-size: 16px;
             color: #fff;
             padding: 20px;
             min-height: 150px;
             box-sizing: border-box;
         }
         .flat-button {
             color: #ffd700;
             background: 0 0 ;
             font-size: 19px;
             letter-spacing: 3px;
             text-decoration: none;
             padding: 8px 10px;
             border: 1px solid #ffd700;
             float: right;
             border-radius: 4px;
             padding: 20px;
             cursor: pointer;
             
             &:hover {
                background-color: rgb(7, 4, 4);
             }
         }
     }
     }
}
@media (max-width: 768px) {
    .contact-page {
        .text-zone {
            transform: translateY(30%);
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 25%;
            height: 50%;
            margin-bottom: 25%;
            width: 80%;
        }
    }
  }