.nav-bar {
    background-color: #181818;
    width: 120px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    left: 0;
    .logo {
        display: block;
        padding: 8px 0 ;
        text-decoration: none;
        .logom {
            display: block;
            padding: 8px 0 ;
            font-size: 40px;
            color: white;
        }
        .mootaz {
            color: white;
            font-size: 32px;
            font-weight: 400;
            padding-left: 10px;
            padding-top: 20px;
            
        }
        .mootaz::first-letter {
            color: yellow;
            font-size: 40px;
            font-weight: bold;
            font-family: 'La Belle Aurore';
            
        }
    }
    nav {
        display: block;
        text-align: center;
        position: absolute;
        height: 210px;
        top: 50%;
        margin-top: -120px;
        width: 100%;
        a {
            font-size:35px;
            color: #4d4d4e;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;
            padding-bottom: 20px;
            i {
                transition: all 0.3s ease-out;
            }
            &:hover {
                color: #ffd700;
                svg {
                    opacity: 0;
                }
                &::after {
                    opacity: 1;
                }
            }
            &::after {
                content: "";
                font-size: 14px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
                padding-left: 25px;
            }
            &:first-child {
                &::after {
                    content: "HOME";
                }
            }
        }
        a.about-link {
            &:after {
                content:"ABOUT"
            }
        }
        a.contact-link {
            &:after {
                content:"CONTACT"
            }
        }
        a.active {
            svg {
                color:#ffd700
            }
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 60px;
        list-style: none;
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 0; 
        .linkedin {
            width: 29%;
            color: #4d4d4e ; 
            padding-bottom: 30px;
        }
        .github {
            width: 29%;
            color: #4d4d4e;
            padding-bottom: 20px;
        }
    }
}